
header.header
    .container
        .row
            .col-xs-12
                .logo
                    a(href="/")
                .slogan a short slogan
                nav.navbar.navbar-default
                    ul.nav.navbar-nav
                        - for (var prop in topMenu)
                            - if(topMenu.hasOwnProperty(prop))
                                li
                                    a(href='/' + prop)= topMenu[prop]