doctype html
html
    include includes/head.pug
    body
        .globwrap
            include includes/header.pug
            main.main
                .container
                    .row
                        main.main.col-md-9.col-md-push-3
                            block content
                        .sidebar.col-md-3.col-md-pull-9
                            include includes/sidebar.pug
        include includes/footer.pug
