body,
html{
    height: 100%;
}
.globwrap{
    min-height: 100%;
}
.main{
    padding-bottom: 50px;
}
.header{
    height: 150px;
    background: #ccebff;
    margin-bottom: 15px;
}
#chat_area{
    background: #fff;
    overflow: auto;
    height: 200px;
    border: 1px solid #ccc;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
}
.uname{
    font-weight: bold;
}
.messtime{
    font-size: 10px;
}
.messwr{
    margin-bottom: 5px;
    padding: 4px;
    border: 1px solid #eee;
}
.footer{
    background: #ccebff;
    height: 50px;
    margin-top: -50px;
    padding-top: 15px;
}