extends ../layout

append head
    script(src="/socket.io/socket.io.js")
    script(src="/js/chat.js")

block content
    .row
        .col-md-6
            #chat_area
            form#chatform.hidden
                .form-group
                    input#mess_field.form-control(placeholder="Сообщение" type="text")
                button#add_message.btn.btn-primary Отправить
            form#loginform
                .form-group
                    input#username.form-control(placeholder="Имя" value="Гость" type="text" )
                button#login_button.btn.btn-primary Войти в чат
        .col-md-6
            .userlistwr
                h4 В чате:
                #userlist никого нет